<style>
  span {
    color: #f79b6a;
    font-size: 1.2em;
    font-weight: bold;
  }
  hr {
    width: 50%;
    margin: 1rem auto;
  }
  article {
    width: 100% !important;
    margin-left: 0 !important;
    text-align: center;
  }
</style>

<article class="system-status-general-info__item card">
  Registrierte Kreative: <span>{{ page.creatives }}</span><br />
  Registrierte Organisationen: <span>{{ page.organizations }}</span><br />
  <hr />
  Offene Projekte: <span>{{ page.open_projects }}</span><br />
  Aktive Projekte: <span>{{ page.ongoing_projects }}</span><br />
  Abgeschlossene Projekte: <span>{{ page.completed_projects }}</span><br />
  Vermittelte Projekte: <span>{{ page.mediated_projects }}</span><br />
</article>
