<h3>Hello, {{ page.name }}!</h3>

<div class="leader">
  {% if page.monitoring %}
    <div class="claro-details">
      <div class="claro-details__wrapper">
        <h4>Monitoring</h4>
        {{ page.logbook}}
        {{ page.stats}}
        {{ page.academy_participants }}
      </div>
    </div>
  {% endif %}

  {% if page.moderation %}
    <div class="claro-details">
      <div class="claro-details__wrapper">
        <h4>Content Moderation</h4>
        {{ page.academy_administration }}
      </div>
    </div>
  {% endif %}

  {% if page.configuration %}
    <div class="claro-details">
      <div class="claro-details__wrapper">
        <h4>Configuration</h4>
        {{ page.transactional_emails }}
        {{ page.log_patterns }}
      </div>
    </div>
  {% endif %}
</div>
