{% set module_path = _self|split('/templates')[0] %}

<style>
  .l{
    position: relative;
    width: 40%;
    float: right;
  }
  .l > div {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 10px;
    background: #f3f4f9;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, .17);
    border-radius: 5px;
    overflow: hidden;
  }
  .l > div > div {
    content: '';
    position: absolute;
    background: #003cc5;
    left: 0;
    width: 50%;
    height: 100%;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .8);
  }

  .icon {
    position: relative;
    display: inline-block;
    top: -1px;
    vertical-align: middle;
    height: 1.295rem;
    margin-right: 0.5rem;
  }

  .grid__item {
    width: 100%;
    margin: 10px 0;
  }

  @media screen and (min-width: 50em) {
    .grid {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    .grid__item {
      margin-bottom: 10px;
    }
    .grid__item--25 {
      width: 25%;
    }
  }
</style>

{% if page.participants is empty %}
  No participants found.
{% else %}
    <img class="icon" src="{{ module_path ~ '/icons/enroll.svg' }}" title="Enrolled" alt="Enrolled">{{ 'Enrolled'|t }}
    <img style="margin-left:1rem;" class="icon" src="{{ module_path ~ '/icons/complete.svg' }}" title="Completed" alt="Completed">{{ 'Completed'|t }}
    <img style="margin-left:1rem;" class="icon" src="{{ module_path ~ '/icons/progress.svg' }}" title="Progression" alt="Progression">{{ 'Progression'|t }}
    <img style="margin-left:1rem;" class="icon" src="{{ module_path ~ '/icons/access.svg' }}" title="Last Access" alt="Last Access">{{ 'Last Access'|t }}
{% endif %}

{% for participant in page.participants %}
  <details class="claro-details claro-details--package-listing trailer">

    <summary role="button" class="claro-details__summary claro-details__summary--package-listing">
      {{ participant.name }}
      <div class="l"><div><div style="width: {{ participant.progression }}%;"></div></div></div>
      <span class="claro-details__summary-summary" style="display:inline-block;">&nbsp;{{ participant.mail }}</span>
    </summary>

    <div class="claro-details__wrapper" style="margin-right: 1rem; margin-bottom: 2.25rem;">
      {% for course in participant.courses %}
        <div style="overflow: auto; margin-bottom: 1.125rem;">
          <div class="grid">
            <div class="grid__item grid__item--25">
              <strong>{{ course.title }}</strong>
            </div>
            <div class="grid__item grid__item--25">
              <img class="icon" src="{{ module_path ~ '/icons/enroll.svg' }}" title="Enrolled" alt="Enrolled">&nbsp;{{ course.enrolled }}
            </div>
            <div class="grid__item grid__item--25">
              {% if course.completed %}
                <img class="icon" src="{{ module_path ~ '/icons/complete.svg' }}" title="Completed" alt="Completed">&nbsp;{{ course.completed }}
              {% else %}
                <img class="icon" src="{{ module_path ~ '/icons/progress.svg' }}" title="Progression" alt="Progression">&nbsp;{{ course.progression }}&nbsp;%
              {% endif %}
            </div>
            <div class="grid__item grid__item--25">
              <img class="icon" src="{{ module_path ~ '/icons/access.svg' }}" title="Last Access" alt="Last Access">&nbsp;{{ course.accessed }}
            </div>
          </div>
        </div>
      {% endfor %}
    </div>

  </details>
{% endfor %}
