<h2>Hello, {{ page.name }}!</h2>

<div class="leader">
  {% if page.monitoring %}
    <div class="claro-details">
      <div class="claro-details__wrapper">
        <h3>Monitoring</h3>
        {{ page.logbook}}
        {{ page.stats}}
        {{ page.academy_participants }}
      </div>
    </div>
  {% endif %}

  {% if page.moderation %}
    <div class="claro-details">
      <div class="claro-details__wrapper">
        <h3>Content Moderation</h3>
        {{ page.academy_administration }}
        {{ page.project_manager }}
      </div>
    </div>
  {% endif %}

  {% if page.configuration %}
    <div class="claro-details">
      <div class="claro-details__wrapper">
        <h3>Configuration</h3>
        {{ page.transactional_emails }}
        {{ page.log_patterns }}
        {{ page.skills }}
      </div>
    </div>
  {% endif %}
</div>
