<div class="logbook-timeline-date-container">
  <div class="logbook-timeline-date" title="{{ info }}">{{ created }}</div>
</div>
<div class="logbook-timeline-bar-container">
  <div class="logbook-timeline-circle"></div>
</div>
<div class="logbook-timeline-content-container">
  <div class="logbook-timeline-text">{{ text }}</div>
  {% if message %}
    <div class="logbook-timeline-message">{{ message }}</div>
  {% endif %}
</div>
<div class="logbook-timeline-label-container">
  <div class="logbook-timeline-label">{{ label }}</div>
</div>
