<article class="system-status-general-info__item card"
         style="width: 100%; margin-left: 0;
                {% if color %}{{ 'background-color:' ~ color ~ ';' }}{% endif %}
                {% if show_hidden %}{% if hidden %}opacity: 0.5;{% endif %}{% endif %}">
  <h3 class="system-status-general-info__item-title">{{ elements.created.value|date('\\A\\m d.m.Y \\u\\m h:m \\U\\h\\r') }}: {{ label }}</h3>
  {{ text }}
  {% if message %}
    <div class="system-status-general-info__item-details leader">
      {{ message }}
    </div>
  {% endif %}
</article>
